<!Doctype html>
<html lang="en">

<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css" media="all" >
   <link rel="stylesheet" href="../scripts/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="js/bootstrap.min.js" async></script>
   <script src="js/jquery.min.js" async></script>
   <script src="js/script.js" async></script>
   <script src="js/m-slider.js" defer></script>
   <title>About Us</title>
</head>

<body>
   <div id="page" class="site">
      <header id="masthead">
         <div class="site-identity">
            <div class="site-title">
               <h1 id="title"><a href=""> CSOFT </a></h1>
               <p id="tagline"> </p>
            </div>

         </div>
         <div class="navigation" id="main-nav">
            <nav class="top-nav">
               <ul class="">
                  <%for(item of nav){%>
                     <li><a href="<%=item.link%>" class=""><%=item.page%></a></li>
                  <%}%>
               </ul>
            </nav>
            <div class="dropdown-menu">
               <button class="dropdown-button"> Menu
                  <i class="fa fa-carret-down"> </i>
               </button>
               <nav class="dropdown-content">
                  <ul class="">
                  <%for(item of nav){%>
                     <li><a href="<%=item.link%>" class=""><%=item.page%></a></li>
                  <%}%>
                  </ul>
               </nav>
            </div>
            <!--   <a href="javascript:void(0);" class="icon" onclick="menufunction()">&#9776; </a>-->
         </div>
      </header>
      <main id="main-content">
         <section>
            <div class="about-header">
               <h2>CSOFT</h2>
               <span>Creating beautiful solutions for you and your business</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
               Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
               ultricies nec, pellentesque eu, pretium quis, sem.</p>
            <div class="milestones">
               <header class="heading">Over The Years.</header>
               <div class="milestones"></div>

            </div>
         </section>
         <section class="team">
            <h2 class="team-header">Management Team</h2>
            <div class="management">
               <!-- <button id="prev"></button> -->
               <a href="">
                  <div class="heads"><img src="maleTemplate.png" />
                     <h3>Chief Executive Officer(CEO)</h3>
                     <div class="headBio hide">
                        <p></p>
                     </div>
                  </div>
               </a>
               <a href="">
                  <div class="heads"><img src="maleTemplate.png" />
                     <h3>Chief Executive Officer(CEO)</h3>
                     <div class="headBio hide">
                        <p></p>
                     </div>
                  </div>
               </a>
               <a href="">
                  <div class="heads"><img src="maleTemplate.png" />
                     <h3>Chief Executive Officer(CEO)</h3>
                     <div class="headBio hide">
                        <p></p>
                     </div>
                  </div>
               </a>
               <a href="">
                  <div class="heads"><img src="maleTemplate.png" />
                     <h3>Chief Executive Officer(CEO)</h3>
                     <div class="headBio hide">
                        <p></p>
                     </div>
                  </div>
               </a>
               <!-- <button id="next"></button> -->
            </div>
         </section>

         <section class="contact forms" id="contact-form">
            <div class="form-head">
               <h2>Contact Us</h2>
            </div>
            <div id="contact-message"></div>
            <form action="" method="post" class="data-entry">
               <input  class="form-control" type="text" id="name" placeholder="Name" required /><br>
               <input class="form-control" type="text" id="email" placeholder="Email Address" required /><br>
               <textarea class="form-control" name="" id="" rows="4" placeholder="Message" required></textarea><br>
               <input type="submit" id="messagebt" class="btn"/>
            </form>
         </section>

      </main>
      <footer>
         <section class="social">
            <a href="">
               <div id="facebook" class="fa fa-facebook"><small>Facebook</small></div>
            </a>
            <a href="">
               <div id="twitter" class="fa fa-twitter"><small>Twitter</small></div>
            </a>
            <a href="">
               <div id="instagram" class="fa fa-instagram"><small>Instagram</small>
               </div>
            </a>
            <a href="">
               <div id="pinterest" class="fa fa-pinterest"><small>Pinterest</small>
               </div>
            </a>
         </section>
         <small>&copy;CSOFT <script>
               document.write(new Date().getFullYear());
            </script></small>
      </footer>
   </div>
</body>

</html>