<!Doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/style.css" media="all">
   <link rel="stylesheet" href="../scripts/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="/js/bootstrap.min.js" async></script>
   <script src="/js/jquery.min.js" async></script>
   <script src="/js/script.js" async></script>
   <title>Client Registration</title>
</head>

<body>
   <div id="page" class="site">
      <header id="masthead">
         <div class="site-identity">
            <div class="site-title">
               <h1 id="title"><a href=""> CSOFT </a></h1>
               <p id="tagline"> </p>
            </div>

         </div>
         <div class="navigation" id="main-nav">
            <nav class="top-nav">
               <ul class="">
                  <li><a href="Home.html" class="active">Home</a></li>
                  <li><a href="Services.html">Services</a></li>
                  <li><a href="About.html">About</a></li>
                  <li><a href="Portfolio.html">Portfolio</a></li>
                  <li><a href="Contact.html">Contact</a></li>
                  <li><a href="Log_in.html" target="_blank">Log in</a></li>
               </ul>
            </nav>
            <div class="dropdown-menu">
               <button class="dropdown-button"> Menu
                  <i class="fa fa-carret-down"> </i>
               </button>
               <nav class="dropdown-content">
                  <ul class="">
                     <li><a href="Home.html" class="active">Home</a></li>
                     <li><a href="Services.html">Services</a></li>
                     <li><a href="About.html">About</a></li>
                     <li><a href="Log_in.html" target="_blank">Log in</a></li>
                  </ul>
               </nav>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="menufunction()">&#9776; </a>
         </div>
      </header>
      <main id="main-content" class="form-page">
         <section class="registration forms">
            <div class="form-head">
               <h2>Client Registration</h2>
            </div>
            <div id="register-message"></div>
            <form action="/auth/signup" method="post" class="data-entry" id="registration">
               <label for="client">Username: </label>
               <input name="client" type="text" id="client" />
               <br><br>
               <label for="password">Password: </label>
               <input name="password" type="text" id="password" />
               <br><br>
               <!--
               <label for="company">Company: </label>
               <input name="company" type="text" id="company" />
               <br><br>
               <label for="email">Email: </label>
               <input name="email" type="email" id="email" />
               <br><br>
               <label for="tel">Telephone: </label>
               <input name="tel" type="tel" id="tel" placeholder="Phone Number" />
               <br><br>
               -->
               <input type="submit" value="Complete Registration" id="CRegisterbt" class="btn btn-primary" />

            </form>
         </section>
      </main>
      <footer>
         <section class="social">
            <a href="">
               <div id="facebook" class="fa fa-facebook"><small>Facebook</small></div>
            </a>
            <a href="">
               <div id="twitter" class="fa fa-twitter"><small>Twitter</small></div>
            </a>
            <a href="">
               <div id="instagram" class="fa fa-instagram"><small>Instagram</small>
               </div>
            </a>
            <a href="">
               <div id="pinterest" class="fa fa-pinterest"><small>Pinterest</small>
               </div>
            </a>
         </section>
         <small>&copy;CSOFT <script>
               document.write(new Date().getFullYear());
            </script></small>
      </footer>
   </div>
</body>

</html>